---
import BaseLayout from '../../components/BaseLayout.astro'
import { site } from '../../data/site'
import ChangelogContent from '../../../CHANGELOG.md'
---

<BaseLayout
	title="Updates"
	description={`Release notes for ${site.title}.`}
	path="/remarqueeble/updates/">
	<main>
		<ChangelogContent />
	</main>
</BaseLayout>
