---
import { site } from '../data/site'

const siteUrl = '/remarqueeble/'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="refresh" content={`0; url=${siteUrl}`} />
		<title>{site.readableTitle}</title>
	</head>
	<body></body>
</html>
